{% extends 'base.html' %}
{% block content %}
    <div class="about">
        <h1>About us</h1>
        <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Donec ac ultricies dolor, vel vestibulum velit. Integer nulla arcu, pulvinar id dictum ornare,
            mollis et leo. Etiam id ultrices augue. Mauris nec interdum felis.
            Class aptent taciti sociosqu ad litora torquent per conubia nostra,
            per inceptos himenaeos. Nulla dignissim dictum nisl a malesuada.
            Nulla eleifend nunc nunc, eget volutpat nulla faucibus id.
            Proin a aliquet ante, in vulputate ipsum.
            Vivamus blandit urna nec lacus egestas pulvinar.
            Sed fermentum arcu a augue accumsan molestie.
            Sed massa mauris, rhoncus in elit vel,
            hendrerit vulputate neque. Sed nibh metus, semper vel leo et,
            facilisis viverra lectus. Nulla hendrerit tellus sit amet elit vestibulum aliquam.
            Praesent a commodo metus. Maecenas efficitur erat eget mauris tempor,
            dapibus sodales ex commodo. Nam blandit volutpat cursus.
            Vivamus sagittis odio ut magna iaculis, ut volutpat lorem tincidunt.
            Nam vel ultricies est. Duis rutrum porttitor libero.</h5>
    </div>
{% endblock %}
