{% extends 'base.html' %}
{% block content %}
<div class="contact" xmlns="http://www.w3.org/1999/html">
        <h1>Contact</h1>
        <h3>Email:</h3>
        <a> Arnaldur Bjarnason: </a><a href="mailto:arnaldur15@ru.is">arnaldur15@ru.is </a> <br>
        <a>Sigríður Vala Helgadóttir Möller: </a><a href="mailto:sigridurvh12@ru.is"> sigridurvh12@ru.is </a> <br>
        <a>Iðunn Ösp Valsdóttir: </a><a href="mailto:idunn20@ru.is">idunn20@ru.is</a> <br>
        <a>Hallmar Orri Schram: </a><a href="mailto:hallmar19@ru.is">hallmar19@ru.is</a>
    </div>
{% endblock %}
