{% extends 'base.html' %}
{% block content %}
    {# -------- display a overview landing page -------- #}
    <div class="products">
        <h1>Products</h1>
        <div class="list-group">
            <a href="products/all/" class="list-group-item list-group-item-action">All products</a>
            {% for category in categories %}
                <a href="products/{{ category.name.lower }}/" class="list-group-item list-group-item-action">{{ category }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
