{% extends 'base.html' %}
{% block content %}
    {# -------- display a overview landing page -------- #}
    <div class="products">
        <h1>Products</h1>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">All products</a>
            <a href="#" class="list-group-item list-group-item-action">Breakfast</a>
            <a href="#" class="list-group-item list-group-item-action">Cutlery</a>
            <a href="#" class="list-group-item list-group-item-action">Milk</a>
        </div>
    </div>
{% endblock %}
