{% extends 'base.html' %}
{% block content %}
    <div class="home">
        <div class="homecard card" style="width: 18rem;">
            <div class="card-body">
                <div class="hometitle">
                    <h5 class="card-title">All products</h5>
                    <a href="all/" class="card-link">All products</a>
                </div>
            </div>
        </div>
        {% for category in categories %}
            <div class="homecard card" style="width: 18rem;">
                <div class="card-body">
                    <div class="hometitle d-flex align-items-center">
                        <h5 class="card-title">{{ category }}</h5>
                        <a href="{{ category.name.lower }}/" class="card-link">{{ category }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

