{% extends 'base.html' %}
{% load static %}
{% block content %}
   <div class="products-list-container">
        <div class="filter-container">
            <form action="/products/{{ category }}/search/" method="get" id="searchFilterForm" class="row align-items-center">
                <div class="col-auto">
                    <input name="s"  type="search" class="form-control" id="productSearch" placeholder="Search here...">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
                <div class="sort">
                    <p class="sortByLabel">Sort by:</p>
                    <div class="form-check">
                        <input class="form-check-input" onchange="document.getElementById('searchFilterForm').submit()" type="radio" name="sort" id="name" value="name">
                        <label class="form-check-label" for="name">Name</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" onchange="document.getElementById('searchFilterForm').submit()" type="radio" name="sort" id="price" value="price">
                        <label class="form-check-label" for="price">Price</label>
                    </div>
                </div>
                <div class="filter">
                    <p class="filterByType">Filter by type:</p>
                      <div class="form-check">
                        <input class="form-check-input" onclick="document.getElementById('searchFilterForm')" type="checkbox" name="filter" id="All" value="All">
                        <label class="form-check-label" for="All">
                        All
                      </label>
                      </div>
                    <div class="form-check">
                        <input class="form-check-input" onclick="document.getElementById('searchFilterForm')" type="checkbox" name="filter" id="Healthy" value="Healthy">
                        <label class="form-check-label" for="Healthy">Healthy</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" onclick="document.getElementById('searchFilterForm')" type="checkbox" name="filter" id="Sugary" value="Sugary">
                        <label class="form-check-label" for="Sugary">Sugary</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" onclick="document.getElementById('searchFilterForm')" type="checkbox" name="filter" id="Gluten-free" value="Gluten-free">
                        <label class="form-check-label" for="Gluten-free">Gluten-free</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" onclick="document.getElementById('searchFilterForm')" type="checkbox" name="filter" id="Organic" value="Organic">
                        <label class="form-check-label" for="Organic">Organic</label>
                    </div>
                </div>
            </form>
        </div>
        <div class="products-list">
            {% for product in product_list %}
                <div class="">
                    {% include 'products/product_card.html' %}
                </div>
            {% endfor %}
        </div>
   </div>
{% endblock %}

