{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="products-list-container">
        <div class="filter-container">
            <form action="/products/category/{{ category }}/search/" method="get" id="searchFilterForm"
                  class="row align-items-center">
                <div class="col-auto">
                    <input name="s" type="search" class="form-control" id="productSearch" placeholder="Search here...">
                </div>
                <div class="sort">
                    <p class="sortByLabel">Sort by:</p>
                    <div class="form-check">
                        <input class="form-check-input" onchange="document.getElementById('searchFilterForm').submit()"
                               type="radio" name="sort" id="name" value="name">
                        <label class="form-check-label" for="name">Name</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" onchange="document.getElementById('searchFilterForm').submit()"
                               type="radio" name="sort" id="price" value="price">
                        <label class="form-check-label" for="price">Price</label>
                    </div>
                </div>
                <div class="filter">
                    <p class="filterByType">Filter by type:</p>
                    <div class="form-check">
                        <input class="form-check-input" onclick="document.getElementById('searchFilterForm')"
                               type="checkbox" name="filter" id="All" value="All">
                        <label class="form-check-label" for="All">
                            All
                        </label>
                    </div>

                    {% for attribute in attributes %}
                        <div class="form-check">
                            <input class="form-check-input" onclick="document.getElementById('searchFilterForm')"
                                   type="checkbox" name="filter" id="{{ attribute }}" value="{{ attribute }}">
                            <label class="form-check-label" for="{{ attribute }}">{{ attribute }}</label>
                        </div>
                    {% endfor %}
                       <div class="form-check">
                            <input class="form-check-input" onclick="document.getElementById('searchFilterForm')"
                                   type="checkbox" name="sale" id="{{ product.on_sale }}">
                            <label class="form-check-label" for="{{ product.on_sale }}">On Sale</label>
                        </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary">Apply</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="products-list">
            {% for product in product_list %}
                <div class="">
                    {% include 'products/product_card.html' %}
                </div>
            {% endfor %}
        </div>
    </div>
    <script>
    const form = document.getElementById("searchFilterForm");
    form.addEventListener('submit', (e) => {
        const value = e.target["0"].value;
        if(value !== ''){
            const searchValues = JSON.parse(window.localStorage.getItem("searchHistory"));
        console.log('value',value)
        console.log('sv',searchValues)
        try {
            const newSearchValues = searchValues || [];
            window.localStorage.setItem("searchHistory", JSON.stringify([...newSearchValues, value]));
        } catch (e) {
            console.error('Error updating local storage', e)
        }
        }

    });
    </script>
{% endblock %}

