{% extends 'base.html' %}
{% load static %}
{% block content %}
    <form action="/products/{{ category }}/search/" method="get" class="row align-items-center">
        <div class="col-auto">
            <input name="s" type="search" class="form-control" id="productSearch" placeholder="search here...">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
    <div class="row row-cols-auto">
        {% for product in product_list %}
            <div class="col">
                {% include 'products/product_card.html' %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
