.nav-top{
    /*position: fixed;*/
    /*right: 0;*/
    /*position: sticky;*/
    /*left: 0;*/
}
.breakfast{
    background-color: white;
}
.product{
    margin-top: 30px;
    height: 500px;
}

.home{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 10px;
    margin-top: 60px;


}
.hometitle{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-light{
    margin: 20px;
}

.catagory-home{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}
.products-list-container{
    /*z-index: 1;*/

}
.card{
    display: flex;
    margin-top: 10px;

    flex: 1;
    /*z-index: 1;*/
}
.productcard{
    width: 300px;
    height: 400px;
}
.productcard .card-body{
position: absolute;
bottom: 0;
}
.card-title{
    align-content: center;
}
.card-img{
    display: flex;
    justify-content: center;
}
.cardrow{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.cardcol{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.btn-primary{
    margin: 2px;
}
.about{
    margin-right: 10px;
}
.form{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width:500px;
}
.btn-primary{
    margin-top: 10px;
}

.products-list-container {
    display: flex;
    flex-direction: row;
}

.filter-container {
    max-width: 200px;
    margin-right: 50px;
    margin-top: 10px;
    border-radius: 0.25rem;
}

.products-list {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 16px;
}

.sortByLabel {
    margin-top: 16px;
    margin-bottom: 0;
}
.filterByType{
    margin-top: 16px;
    margin-bottom: 0;
}

.cartauth{
    display: flex;
    flex-direction: row;
}
.cart{
     display: flex;
    flex-direction: column;
}
.profile{
    display: flex;
    flex-direction: row;

}
.search-history{
    margin-left: 100px;
}

.profile{
    display: flex;
    flex-direction: row;
}
.profile-img {
    max-height: 100px;
    max-width: 100px;
    border-radius: 50px;
    margin-left: 50px;
}
.profile{
    display: flex;
    flex-direction: row;

}
.profile-form{
    min-width: 300px;