.breakfast{
    background-color: white;
}
.product{
    margin-top: 30px;
    height: 500px;

}
.card{
}
.cardrow{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.btn-primary{
    margin: 2px;
}
.about{
    margin-right: 10px;
}
.form{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width:500px;


}
.btn-primary{
    margin-top: 10px;
}

.products-list-container {
    display: flex;
    flex-direction: row;
}

.filter-container {
    max-width: 200px;
}

.products-list {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 16px;
}

.sortByLabel {
    margin-top: 16px;
    margin-bottom: 0;
}
.cartauth{
    display: flex;
    flex-direction: row;
}