<li class="list-group-item d-flex align-items-center">
    <img class="product-img "
         src="{{ product.product.image_set.first.image }}"
         alt="{{ product.name }}"
         style="height: 5rem"
    >
    <h4 class="me-auto">{{ product.product.name }}</h4>
    <small class="text-muted m-3"> {{ product.product.price }} kr.</small>
    <small class="m-1">Qty: {{ product.quantity }}</small>
    <small class="m-1">Total: {{ product.total }} kr.</small>
<!--    <button type="button" class="btn btn-light">Remove</button>-->
</li>
